body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    width: 100vw;
    height: 100vh;
}

#container{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 5px;
}

#container h1{
    color: white;
    text-transform: uppercase;
    font-weight:500;
}

#container input[type = "text"], #container input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline:none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

#container input[type = "text"]:focus, #container input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71 ;


}

#container input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline:none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#container input[type = "submit"]:hover{
    background:#2ecc71;
}

@media screen and (max-width: 430px){
    #container{
        width: calc(100vw - 20px);
        padding: 40px 0px;
    }
    #container input[type = "text"], #container input[type = "password"]{
        padding: 14px 15px;
    }
    #container input[type = "text"]:focus, #container input[type = "password"]:focus{
        width:  calc(100% - 120px);
    }

}

@media screen and (max-width: 330px){

    #container input[type = "text"], #container input[type = "password"]{
        padding: 14px 10px;
    }
    #container input[type = "text"]:focus, #container input[type = "password"]:focus{
        width:  calc(100% - 80px);
    }

}

@media screen and (max-width: 310px){

    #container input[type = "text"]:focus, #container input[type = "password"]:focus{
        width:  calc(100% - 60px);
    }

}

@media screen and (max-width: 270px){

    #container input[type = "text"]:focus, #container input[type = "password"]:focus{
        width:  calc(100% - 40px);
    }

}

@media screen and (max-width: 260px){

    #container input[type = "text"]:focus, #container input[type = "password"]:focus{
        width:  calc(100% - 60px);
    }
    #container input[type = "text"], #container input[type = "password"]{
        width: 150px;
    }

}

@media screen and (max-width: 230px){

    #container input[type = "text"]:focus, #container input[type = "password"]:focus{
        width:  calc(100% - 60px);
    }
    #container input[type = "text"], #container input[type = "password"]{
        width: 140px;
    }

}